body {
    padding-top: 20px;
}
.head {
    padding:10px;
    background-color: #FFF;
    background-image: -moz-linear-gradient(top, #CCC, #f1f2f3);
    background-image: -ms-linear-gradient(top,  #CCC, #f1f2f3);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#CCC), to(#f1f2f3));
    background-image: -webkit-linear-gradient(top,  #CCC, #f1f2f3);
    background-image: -o-linear-gradient(top,  #CCC, #f1f2f3);
    background-image: linear-gradient(top,  #CCC, #f1f2f3);
    margin-bottom:20px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.head b {
    font-size: 20px;
    margin:20px;
}

#dashboard-screenshot {
    background: url("../img/bg_dashboard_screen.png") no-repeat scroll left top transparent;
   height: 180px;
   width: 200px;
   z-index: 99999;
   overflow: inherit;
   float:left;
}

#img {
    z-index: 1;
    position: absolute;
}

#img-c {
     height: 110px;
   width: 190px;
   position: absolute;
   overflow: hidden;
   background-color: #FFF; 
   border:1px solid #000;
   margin:5px;

}

#search-nav {
}

#search-nav  input {
    height: 26px;
    margin-top:10px;
    margin-right:-5px;
    padding:5px;
}